*{
    margin: 0;
    padding: 0;
}
.body{
    margin: 0;
    padding: 0;
    background-image: url(/imgs/weather.jpg);
    height: 100%;
    background-repeat: no-repeat;
    background-size:100%;
  }
   

.card{
    width: 80%;
    max-width: 400px;
    padding: 40px;
    margin: 30px auto 0;
    background: rgba(255,255,255,0.06);
    box-shadow: 0 8px 32px 0 rgba(255,255,255,.37);
    border-left: 1px solid rgba(255,255,255,0.3);
    border-left: 1px solid rgba(255,255,255,0.3);
    border-radius: 20px;
    text-align: center;
}
.search{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.search input{
    border: 0;
    outline: 0;
    background: #ebfffc;
    color: #555;
    padding: 10px 25px;
    height: 60px;
    border-radius: 30px;
    flex: 1;
    margin-right: 16px;
    font-size: 18px;
}
.search button{
    border: 0;
    outline: 0;
    background: #ebfffc;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    cursor: pointer;
}
.search button img{
    width: 16px;
}
.weather-icon{
    width: 170px;
    margin-top: 30px;
}
.weather h1{
    font-size: 80px;
    font-weight: 500;
}
.weather h2{
    font-size: 45px;
    font-weight: 200;
    margin: -10px;
}
.details{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    margin-top: 50px;
}
.col{
    display: flex;
    align-items: center;
    text-align: left;
}
.col img{
    width: 40px;
    margin-right: 10px;
}
.humidity, .wind{
    font-size: 28px;
    margin-top: -6px;
}
.weather{
    display: none;
}
span{
    position: absolute;
    margin-top: 20px;
}

.audio-button {
    position: fixed;
    bottom: 10px;
    right: 10px;
    background-color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    border-radius: 100px;
    width: 20px;
  }
  .audio-button img{
    position: fixed;
    bottom: 10px;
    right: 10px;
    background-color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    border-radius: 100px;
    width: 10px;
  }
  